In [16]:
import pandas as pd
df = pd.read_csv('casas.csv')

In [17]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [18]:
X = df.drop('preco', axis=1)
y = df['preco']

In [19]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_teste = train_test_split(X,y,test_size=0.3, random_state=42)

In [21]:
X_train.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

In [22]:
from sklearn.linear_model import LinearRegression

modelo = LinearRegression()
modelo.fit(X_train,y_train)

LinearRegression()

In [23]:
modelo.coef_

array([  830.00653222,   762.09006126, 25767.20537933])

In [25]:
modelo.predict([[120,2001,2]])

array([191436.53503831])

In [26]:
import pickle

In [29]:
pickle.dump(modelo,open('modelo.sav','wb'))